.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
  gap: 12px;
  cursor: pointer;
  background-color: #00c25a;
  transition: filter 0.3s ease;
  font-weight: 600;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.menuItem:hover {
  filter: brightness(0.9);
}

.lastItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  gap: 15px;
  cursor: pointer;
  background-color: #01ae52;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s ease;
}
.lastItem:hover {
  transform: scale(1.03);
}

.open {
  background-color: #01ae52; /* You can adjust this value for the desired darkness */
}
