.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
  gap: 12px;
  cursor: pointer;
  background-color: #28CB7D;
  transition: filter 0.3s ease;
  font-weight: 600;
  box-shadow: inset -15px 0 10px -10px rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.menuItem:hover {
  filter: brightness(0.9);
}

.lastItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  gap: 15px;
  cursor: pointer;
  background-color: #28CB7D;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s ease;
}
.lastItem:hover {
  transform: scale(1.03);
}

.open {
  background-color: #28CB7D; /* You can adjust this value for the desired darkness */
}
