
/* Styles for mobile devices */

.sideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 15px 15px;
    padding: 5px 15px;
    transition: border 0.3s ease, border-radius 0.3s ease; 
    border: 1px solid transparent; 
    border-radius: 12px;
    background-color: rgba(13, 13, 13, 0.901);
    backdrop-filter: blur(5px);
    z-index: 6;

    max-height: 80vh;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.sideMenu:hover {
    border: 1px solid grey; 
    border-radius: 20px;
}

@media (max-width: 768px) {
    .sideMenu {
        border: 1px solid grey; 
        border-radius: 20px;
    }
}



.menuTitle {
    margin: 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.menuTitle span {
    display: none;
}

.menuTitle.open span.x {
    display: inline;
}

.menuTitle:not(.open) span.menu {
    display: inline;
}
