.card {
  position: relative;
  background-color: var(--background-product-card);
  padding: 20px;
  padding-top: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 480px;
  max-height: 550px;

  min-width: 300px;
  max-width: 300px;

  font-size: 16px;

  transition: transform 0.3s ease;
}

.imgContainer {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 100%;
}
.imgContainer::before {
  content: "";
  display: block;
  padding-top: 100%; /* This forces the height to match the width */
}
.card:hover {
  transform: scale(1.01);
}

.stock {
  font-size: 0.8em;
  margin: 0;
  padding: 2px 0;
  color: #8f8f8f;
  font-weight: 400;
  width: 100%;
}

.priceAndButton {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.price {
  font-size: 1.3em;
  font-weight: 600;
}

.oldPriceContainer {
  position: relative;
}

.oldPrice {
  position: relative;
  width: 100%;
  color: gray;
  font-size: 0.8em;
  font-weight: 400;

  text-decoration: line-through;
}

.centerContent {
  width: 95%;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.whatsappLink {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 8px 15px;
  background-color: #eaffec;
  width: 100%;
}
