
.componentContainer{
  position: relative;
  width: 60%;
  font-size: medium;
}

@media (max-width: 768px) {
  .componentContainer {
    width: 100px;
    font-size: small;
  }
}

.searchInput {
  font-size: inherit;
  width: 100%;
  height: 45px;
  padding: 1.5em 1em;
  border: none;
  border-radius: 10px;
  position:relative;
  background-color: rgb(244, 244, 244);
  z-index: 5;
  box-shadow: inset 0 0 6px #dddddd;
}
.searchInput:focus {
  touch-action: manipulation;
}

@media (max-width: 768px) {
  .searchInput {
    font-size: 12px;
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 0;           /* Added this to ensure the expansion is to the left */
  list-style: none;
  background-color: #d9d9d91c;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  z-index: 5;
  width: 50vw;
  max-width: 400px;
}

@media (max-width: 768px) {
  .cardList {
    width: 83vw;
    font-size: small;
  }
}



.card {
  cursor: pointer;


  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s; /* Add a transition for smooth scaling */
}

.card:hover {

  padding: 10px;
  border-radius: 4px;

  transform: scale(1.03); /* Scale down to 95% on hover */
}


.searchIcon {
  all: unset;
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this based on your preference */
  transform: translateY(-50%);
  z-index: 10;
  /* Add other styles to represent your icon, e.g. using a background-image or font-awesome class */
}
