.dialog {
  min-width: 300px;
  width: 80vw;
  max-width: 500px;

  min-height: 50vh;
  height: fit-content;
  max-height: 80vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 10px;
}

.dialog::backdrop {
  background-color: rgba(128, 128, 128, 0.283);
  backdrop-filter: blur(7px);
}

.dialogContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.dialogContent {
  width: 90%;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  text-rendering: optimizeLegibility;
  word-wrap: normal;
}

.dialogContent ul {
  list-style: none; /* Remove default list-style for all <ul> elements */
  padding-left: 20px; /* Add some left padding for bullet points */
}

.dialogContent ul li::before {
  content: "\2022"; /* Use a bullet point character */
  color: #181818; /* You can change the color */
  display: inline-block;
  width: 1em;
  margin-left: -1em; /* Negative margin to overlap the text */
}

.closeDialogButton {
  position: absolute;
  font-size: 25px;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.dialogContent h1 {
  color: #333; /* Custom color */
  font-size: 24px; /* Custom font size */
  margin-bottom: 16px; /* Custom margin */
}

.dialogContent p {
  padding: 1em 0;
  color: #666; /* Custom color */
  font-size: 16px; /* Custom font size */
  line-height: 1.5; /* Custom line height */
}
