
.componentContainer{
  width: 25vw;
  font-size: medium;
}

@media (max-width: 768px) {
  .componentContainer {
    width: 100px;
    font-size: small;
  }
}

.searchInput {
  font-size: inherit;
  width: 100%;
  height: 45px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  position:relative;
  background-color: rgb(230, 230, 230);
  z-index: 5;
  outline: none; /* Remove default focus outline */
}
.searchInput:focus {
  outline: 2px solid #e3e3e3;; /* Change this to your desired focus border color */
  touch-action: manipulation;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 0;           /* Added this to ensure the expansion is to the left */
  list-style: none;
  background-color: #d9d9d91c;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  z-index: 5;
  width: 100%;
}

@media (max-width: 768px) {
  .cardList {
    width: 300px;
    font-size: small;
  }
}



.card {
  cursor: pointer;


  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s; /* Add a transition for smooth scaling */
}

.card:hover {

  padding: 10px;
  border-radius: 4px;

  transform: scale(1.03); /* Scale down to 95% on hover */
}
