.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  min-height: 100vh;
}

.carrouesellContainer {
  width: 100vw;
  padding-bottom: 50px;
  padding-left: 5vw;
}

.carrousell {
  display: flex;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;

  gap: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.carrousell::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.carrousell::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
  border-radius: 5px;
}
